<div class="phone-screen" [ngClass]="{'background-image': !weatherData}">
  <section class="home-container">
    <mat-form-field appearance="outline" class="search_field" *ngIf="!weatherData">
      <mat-label for="city">Enter a city</mat-label>
      <input matInput id="city" type="text" placeholder="City..." [(ngModel)]="city" aria-labelledby="city">
      <button mat-icon-button matSuffix (click)="getWeather()" aria-label="Search for weather">
        <mat-icon>search</mat-icon>
      </button>  
    </mat-form-field>
  </section>

  <section class="result-screen" *ngIf="weatherData">
    <div class="result-header">
      <div class="location-info">
        <img src="position.png" alt="Location Icon" class="location-icon">
        <span class="location-name">{{ weatherData.name }}</span>
      </div>

      <div class="spacer"></div>

      <button mat-icon-button class="back-button" (click)="goBack()" aria-label="Back to previous page">
        <mat-icon>arrow_back</mat-icon> 
      </button>   
    </div>

    <div class="weather-image">
      <img [src]="'http://openweathermap.org/img/wn/' + weatherData.weather[0].icon + '.png'" alt="Weather Image for actual meteo" class="weather-icon-large">
    </div>

    <div class="temperature">
      {{ weatherData.main.temp}}°C
    </div>

    <!-- Titre pour le type de temps -->
    <h1 class="weather-description">{{ weatherData.weather[0].description }}</h1>

    <!-- Prévisions météo -->
    <div class="forecast">
      <div class="forecast-item" *ngFor="let item of forecastData">
        <img [src]="'http://openweathermap.org/img/wn/' + item.weather[0].icon +'.png'" alt="Weather icon for everyday's meteo" class="forecast-icon">
        <span class="day">{{ item.dt_txt | date:'EEEE' }}</span>
        <span class="temp">{{item.main.temp}}°C</span>
      </div>
    </div>
  </section>
</div>
