<div class="phone-screen">
  <!---mat-form-field appearance="outline" class="search_field">
    <mat-label>Enter a city</mat-label>
    <input matInput placeholder="City...">
    <button mat-icon-button matSuffix>
      <mat-icon>search</mat-icon>
    </button>  
  </mat-form-field>

  <div class="weather-container">
    <img src="clouds_sun.png" alt="Cloud and Sun" class="weather-icon">
    <h1 class="weather-title">Weather App</h1>
  </div-->

  <div class="result-screen">
    <!-- Icône localisation + ville -->
    <div class="location-info">
      <img src="position.png" alt="Location Icon" class="location-icon">
      <span class="location-name">location</span>
    </div>

    <!-- Image météo -->
    <div class="weather-image">
      <img src="clouds_sun.png" alt="Weather Image" class="weather-icon-large">
    </div>

    <!-- Température -->
    <div class="temperature">
      22°C
    </div>

    <!-- Titre pour le type de temps -->
    <h2 class="weather-description">Cloudy</h2>

    <!-- Prévisions météo -->
    <div class="forecast">
      <div class="forecast-item">
        <img src="clouds_sun.png" alt="Weather icon" class="forecast-icon">
        <span class="day">Today</span>
        <span class="date">20/12</span>
      </div>
      <div class="forecast-item">
        <img src="clouds_sun.png" alt="Weather icon" class="forecast-icon">
        <span class="day">Monday</span>
        <span class="date">20/12</span>
      </div>
      <div class="forecast-item">
        <img src="clouds_sun.png" alt="Weather icon" class="forecast-icon">
        <span class="day">Tuesday</span>
        <span class="temp">18/10</span>
      </div>
    </div>
  </div>
</div>